<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <scopevisio>
            <general>
                <enabled>0</enabled>
                <connector_url/>
                <sync_from/>
            </general>
        </scopevisio>
    </default>
</config>
