<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Scopevisio_Connector::dashboard" title="Scopevisio ERP" translate="title"
             module="Scopevisio_Connector" sortOrder="90" parent="Magento_Sales::sales_operation"
             action="scopevisio/dashboard/index" resource="Scopevisio_Connector::dashboard"/>
    </menu>
</config>
